// Custom styles.

ul, ol, p, li {
  font-size: 18px;
  line-height:30px;
  margin:10px 0;
}

.post-body p {
  text-indent:2em;  
}

h1 {
  font-size: 32px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 18px;
}
h1, h2, h3, h4 {
  margin: 30px 0 0 0;
}

.katex {
  margin: 0 5px;
}
:not(pre)>code {
  font-size: 18px;
  font-family: Consolas,monospace,serif;
  color: #D05;
  white-space: nowrap;
  padding: 0 4px;
  border: 1px solid #ddd;
  border-radius: 3px;
  background: #f9f2f4;
  margin: 0 5px;
}

pre {
  background:#eaeaea;
  font:18px / 18px Consolas,monospace,serif;
  color:#444;
  tab-size:2;
  border:1px solid #ccc;
  border-radius:3px
}

blockquote {
  font-size: 18px;
  padding:5px 20px;
  margin:20px;
  background-color:#f7f7f7;
  border-left:6px solid #b4b4b4;
  word-break:break-word;
}
