// Custom styles.

ul, ol, p, li {
  font-size: 16px;
  line-height:30px;
  margin:10px 0;
}

h1 {
  font-size: 32px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 18px;
}

:not(pre)>code {
  font-size: 16px;
  font-family: Consolas,monospace,serif;
  color: #D05;
  white-space: nowrap;
  padding: 0 4px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #eaeaea;
  margin: 0 5px;
}

pre {
  background:#eaeaea;
  font:16px / 16px Consolas,monospace,serif;
  color:#444;
  tab-size:2;
  border:1px solid #ccc;
  border-radius:3px
}

blockquote {
  font-size: 16px;
  padding:5px 20px;
  margin:20px;
  background-color:#f7f7f7;
  border-left:6px solid #b4b4b4;
  word-break:break-word;
}
